<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChartPie);
        google.charts.setOnLoadCallback(drawChartGantt); //crasher måske hele lortet!

        function drawChartPie() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task');
            data.addColumn('number', 'Hours');
            data.addRows([[${taskData}]]);

            var options = {
                title: 'Hours allocated to each task'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        function  drawChartGantt(){
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            data.addRows([
                ['2014Spring', 'Spring 2014', 'spring',
                    new Date(2014, 2, 22), new Date(2014, 5, 20), null, 100, null],
                ['2014Summer', 'Summer 2014', 'summer',
                    new Date(2014, 5, 21), new Date(2014, 8, 20), null, 100, null],
                ['2014Autumn', 'Autumn 2014', 'autumn',
                    new Date(2014, 8, 21), new Date(2014, 11, 20), null, 100, null],
                ['2014Winter', 'Winter 2014', 'winter',
                    new Date(2014, 11, 21), new Date(2015, 2, 21), null, 100, null],
                ['2015Spring', 'Spring 2015', 'spring',
                    new Date(2015, 2, 22), new Date(2015, 5, 20), null, 50, null],
                ['2015Summer', 'Summer 2015', 'summer',
                    new Date(2015, 5, 21), new Date(2015, 8, 20), null, 0, null],
                ['2015Autumn', 'Autumn 2015', 'autumn',
                    new Date(2015, 8, 21), new Date(2015, 11, 20), null, 0, null],
                ['2015Winter', 'Winter 2015', 'winter',
                    new Date(2015, 11, 21), new Date(2016, 2, 21), null, 0, null],
                ['Football', 'Football Season', 'sports',
                    new Date(2014, 8, 4), new Date(2015, 1, 1), null, 100, null],
                ['Baseball', 'Baseball Season', 'sports',
                    new Date(2015, 2, 31), new Date(2015, 9, 20), null, 14, null],
                ['Basketball', 'Basketball Season', 'sports',
                    new Date(2014, 9, 28), new Date(2015, 5, 20), null, 86, null],
                ['Hockey', 'Hockey Season', 'sports',
                    new Date(2014, 9, 8), new Date(2015, 5, 21), null, 89, null]
            ]);

            var options = {
                title: 'Gantt chart tracking tasks',
                height: 400,
                gantt: {
                    trackHeight: 30
                }
            };

            var chart = new google.visualization.Gantt(document.getElementById('ganttchart'));

            chart.draw(data, options);
        }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">

    <div class="section">
        <div class="top_navbar">

        </div>

    </div>

    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/alpha_solutions_logo.png}" alt="Alpha Solutions"/>
            <h3>Alpha Solutions</h3>
            <p>Portfolio</p>
        </div>

        <ul>
            <li>
                <a href="#" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span class="item">New subproject</span>
                </a>
            </li>
            <li>
                <a href="#" class="active">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span class="item">New task</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="project-container">

        <div id="piechart" style="width: 500px; height: 375px; position: absolute; top: 455px; left: 225px"></div>
        <div id="ganttchart" style="width: 1300px; height: 500px; position: absolute; left: 225px"></div>

    </div>


</div>
</body>
</html>