<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">


</head>

<body>
<div class="wrapper">

    <!--    <div th:insert="~{fragments/topnav :: topnav}"></div>-->

    <div class="form-container">
        <div class="form-box">
            <h1>Create a new task</h1>
            <form th:action="@{/{userId}/home/createtask}" th:object="${task}" method="post">
                <!-- hidden companyid-->
                <div>
                    <label for="task-name">Task name:</label>
                    <input type="text" id="task-name" th:field="*{taskName}" placeholder="Insert task-name" required />
                </div>
                <div>
                    <label for="task-start-date">Task start date</label>
                    <input type="date" th:field="${task.startDate}" id="task-start-date">
                </div>
                <div>
                    <label for="task-end-date">Task end date</label>
                    <input type="date" th:field="${task.endDate}" id="task-end-date">
                </div>
                <div>
                    <label for="task-cost-estimate">Estimated total task cost</label>
                    <input type="text" id="task-cost-estimate" th:field="*{estimatedCost}" placeholder="Budget in DKK"/>
                </div>
                <div>
                    <label for="total-employees">Enter number of employees assigned to the task</label>
                    <input type="text" id="total-employees" th:field="*{assignedEmployees}" placeholder="Total number of employees">
                </div>
                <!-- hidden isComplete-->
                <div>
                    <label for="task-description">Enter task description:</label>
                    <input type="text" id="task-description" th:field="*{taskDescription}" placeholder="Task-description" required />
                </div>
                <div>
                    <label>Hours allocated</label>
                    <input type="text" th:field="*{task.hoursAllocated}" th:value="${taskHoursAllocated}" placeholder="number of hours">
                </div>
                <div>
                    <label>Total task days</label>
                    <input type="text" th:field="*{task.totalTaskDays}" th:value="${totalTaskDays}" placeholder="number of days">
                </div>
                <div>
                    <label for="priority">Priority of task</label>
                    <select priority="priority-of-task" id="priority">
                        <option value="1">low</option>
                        <option value="2">medium</option>
                        <option value="3">high</option>
                    </select>
                </div>
                <div class="button-container">
                    <button type="submit">Create task</button>
                </div>
            </form>
        </div>
    </div>

    <!--    <div th:insert="~{fragments/footer :: footer}"></div>-->

</div>
</body>
</html>