<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new subproject</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/project-overview.css}" rel="stylesheet">
    <link th:href="@{/css/formbox.css}" rel="stylesheet">

    <title>Create subproject</title>

</head>

<body>
<div class="wrapper">

    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/alpha_solutions_logo.png}" alt="Alpha Solutions"/>
            <h3>Alpha Solutions</h3>
            <p>Portfolio</p>
        </div>

        <ul>
            <li>
                <a th:href="@{/{userId}/portfolio(userId=${project.userId})}" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Portfolio</span>
                </a>
            </li>
            <li>
                <a th:href="@{/{userId}/portfolio/{projectId}/createsubproject(userId=${project.userId},projectId=${project.projectId})}" class="active">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span class="item">New subproject</span>
                </a>
            </li>
            <li>
                <a th:href="@{/{userId}/portfolio/{projectId}/createtask(userId=${project.userId},projectId=${project.projectId})}" class="active">
                    <span class="icon"><i class="fas fa-plus-circle"></i></span>
                    <span class="item">New task</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="top_navbar">
        <div class="portal-title">
            <a href="/portfolio">Project Portal</a>
        </div>
    </div>

<div class="project-container">

    <div class="form-container">

        <div class="form-box">

            <h1>Create new subproject</h1>

            <form th:action="@{/__${project.userId}__/portfolio/__${project.projectId}__/createsubproject}" th:object="${subproject}" method="post">

                <div>
                    <label for="subprojectName">Subproject name:</label>
                    <input type="text" id="subprojectName" th:field="*{subprojectName}" required />
                </div>
                <div>
                    <label for="subprojectDescription">Enter subproject description:</label>
                    <input type="text" id="subprojectDescription" th:field="*{subprojectDescription}" required />
                </div>
                <div>
                    <label for="subprojectStartDate">Subproject start date:</label>
                    <input type="date" th:field="${subproject.startDate}" id="subprojectStartDate">
                </div>
                <div>
                    <label for="subprojectEndDate">Subproject end date:</label>
                    <input type="date" th:field="${subproject.endDate}" id="subprojectEndDate" required>
                </div>
                <div>
                    <label for="subprojectCostEstimate">Estimated total subproject cost:</label>
                    <input type="number" id="subprojectCostEstimate" th:field="*{totalEstimatedCost}" required/>
                </div>
                <div>
                    <label for="totalEmployees">Enter number of assigned employees:</label>
                    <input type="number" id="totalEmployees" th:field="*{totalAssignedEmployees}" required>
                </div>
                <div>
                    <label>Hours allocated</label>
                    <input type="number" th:field="*{hoursAllocated}">
                </div>
                <div>
                    <label for="priority">Priority of subproject:</label>
                    <select id="priority" th:field="*{priority}">
                        <option value="LOW">Low</option>
                        <option value="MEDIUM">Medium</option>
                        <option value="HIGH">High</option>
                    </select>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Create Subproject
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</div>
</body>
</html>