<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
</head>

<body>
<div class="wrapper">

<!--    <div th:insert="~{fragments/topnav :: topnav}"></div>-->

    <div class="form-container">
        <div class="form-box">
            <h1>Create New Project</h1>
            <form th:action="@{/{userId}/home/createproject}" th:object="${project}" method="post">
                <!-- hidden companyid-->
                <div>
                    <label for="project-name">Project name</label>
                    <input type="text" id="project-name" th:field="*{projectName}" placeholder="Enter the project name" required />
                </div>
                <div>
                    <label for="project-start-date">Project start date</label>
                    <input type="date" th:field="${project.startDate}" id="project-start-date">
                </div>
                <div>
                    <label for="project-end-date">Project end date</label>
                    <input type="date" th:field="${project.endDate}" id="project-end-date">
                </div>
                <div>
                    <label for="project-cost-estimate">Estimated total project cost</label>
                    <input type="text" id="project-cost-estimate" th:field="*{totalEstimatedCost}" placeholder="Estimated total project cost"/>
                </div>
                <div>
                    <label for="total-employees">Enter total number of employees assigned to the project</label>
                    <input type="text" id="total-employees" th:field="*{assignedEmployees}" placeholder="Total number of employees">
                </div>
                <!-- hidden isComplete-->
                <div>
                    <label for="project-description">Enter project description:</label>
                    <input type="text" id="project-description" th:field="*{projectDescription}" placeholder="Project description" required />
                </div>
                <div class="button-container">
                    <button type="submit">Create project</button>
                </div>
            </form>
        </div>
    </div>

<!--    <div th:insert="~{fragments/footer :: footer}"></div>-->

</div>
</body>
</html>
