<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">


    <title>Company Portfolio</title>
</head>
<body>
    <div class="wrapper">

        <div class="section">
            <div class="top_navbar">

            </div>

        </div>

        <div class="sidebar">
            <div class="logo">
                <img th:src="@{/alpha_solutions_logo.png}" alt="Alpha Solutions"/>
                <h3>Alpha Solutions</h3>
               <!--  <p>Portfolio</p> -->
            </div>

            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-plus-circle"></i></span>
                        <span class="item">New Project</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="project-container">
            <div th:each="projects : ${projects}" th:class=""



        </div>
    </div>

</body>
</html>