<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
            <link th:href="@{/css/test.css}" rel="stylesheet">

    <title>Project Overview</title>
    
</head>

<body>

    <div class="wrapper">

        <div class="topnav">
            <a href="/home" class="title-link">
                <h1 class="title">Project Portfolio</h1>
            </a>
        </div>

        <div class="sidebar">
            <div class="logo">
                <img src="../static/pp_logo.png" alt="Project Portal logo"/>
            </div>

            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">New subproject</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">New task</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="overview">


        </div>


        </div>


</body>


</html>