<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-box">
            <h1>Show users</h1>
            <form th:action="@{/{user}/readUsers}" th:object="user" method="get">

            </form>
            <form th:action="@{/{user}/${user.userId}/delete}" method="get">
                <div>
                    <label for="user-id">UserID to delete:</label>
                    <input type="text" id="user-id" th:field="*{user.userId}"/>
                </div>
                <div>
                <input type="submit" value="Delete user"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>