<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <!--<link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/userpage.css}"> -->
</head>
<body>

<div class="wrapper">

    <div th:replace="fragments/topnav :: topnav"></div>

    <div class="tasklist">
        <div class="table-container">
            <header>
                <h1>Task, <span th:text="${task.taskName}"></span></h1>
            </header>
            <table>
                <thead>
                <tr>
                    <th scope="col">Name on task</th>
                    <th scope="col">Description</th>
                    <th scope="col">See task</th>
                    <th scope="col">Delete task</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.taskName}"></td>
                    <td th:text="${task.taskDescription}"></td>
                    <td>
                        <form th:action="@{/{user}/{project}(project=${project.projectId}, task=${task.taskId})}"
                              method="get">
                            <input type="submit" value="See task">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{|/${user.userId}/${task.taskId}/delete|}" method="get">
                            <input type="submit" value="Delete task">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="button-container">
                <a th:href="@{/{user}/updateTask(user=${user.userId})}">
                    <button type="button">Update task</button>
                </a>
            </div>
        </div>
</body>
</html>