<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div class="wrapper">
    <div class="form-container">
        <div class="form-box">
            <h1>Update user</h1>
            <form th:action="@{/{user}/home/updateUser}" th:object="${user}" method="post">

                <div>
                    <label for="user-name">Username:</label>
                    <input type="text" id="user-name" th:field="*{user.username}" placeholder="Type new username" />
                </div>
                <div>
                    <label for="user-password">Password:</label>
                    <input type="password" id="user-password" th:field="*{user.password}" placeholder="Type new password" />
                </div>
                <div>
                    <label for="user-companyId">CompanyID:</label>
                    <input type="text" id="user-companyId" th:field="*{user.companyId}" placeholder = "Type new companyID" />
                </div>
                <div>
                    <label for="user-id">UserID:</label>
                    <input type="text" id="user-id" th:field="*{user.userId}" placeholder = "Genererate new User ID" />
                </div>
                <div class="button-container">
                    <button type="submit">Update user</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>